@page "/account"

@using DataAccessLibrary
@using DataAccessLibrary.Models

@inject ICharacterData _db
@inject IAccountData _account_db
@inject AccountService accountService
@* @implements IDisposable *@
@rendermode InteractiveServer


<PageTitle>Account</PageTitle>


<p>
    Account details:<br />
    ID: @accountService.account?.Id<br />
    CID: @accountService.account?.Char_Id
</p>

@if (characters is null)
{
    <p><em>Loading...</em></p>
}
else if (accountService.account is null) // Added null conditional operator to prevent null reference
{
    <h2>Select your Character</h2>
    <div class="character-flex">
        @foreach (var character in characters)
        {
            <button class="character-selector" @onclick="(() => login(character.user_id))">
                @* <button class="character-selector" @onclick="@(() => accountService.SetAccount(_account_db, _db, character.user_id))"> *@

                <img src="@character.img" />
                <p>@character.first_name</p>
            </button>
        }
    </div>
}
else
{
    <h2>Logged In!</h2>
}


@code {
    private List<CharacterModel>? characters;
    // [CascadingParameter]
    // public AccountModel? myAccount { get; set; }
    public AccountModel? loginAccount { get; set; } = null;
    public CharacterModel? loginCharacter { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        characters = await _db.getActiveCharacters();
    }

    protected override void OnInitialized()
    {
        accountService.AccountChanged += StateHasChanged;
    }

    public void Dispose()
    {
        accountService.AccountChanged -= StateHasChanged;
    }

    // public async Task login(int? user_id, int? char_id)
    // {
    //     loginAccount = await _account_db.getAccount(user_id ?? 0);
    //     loginCharacter = await _db.getCharacter(char_id ?? 0);
    //     while (loginAccount == null || loginCharacter == null) { }
    //     myAccount = new AccountModel(loginAccount, loginCharacter);
    // }

    public async Task login(int? user_id)
    {
        accountService.account = await accountService.SetAccount(_account_db, _db, user_id);
        // if (accountService.account != null)
        // {
        //     accountService.account.Id = user_id ?? 0;
        //     accountService.account.CharId = 0;
        //     accountService.account = await accountService.SetAccount(_account_db, _db, user_id);
        // }
    }
}
