@page "/account"

@using DataAccessLibrary
@using DataAccessLibrary.Models

@inject ICharacterData _db
@inject IAccountData _account_db
@inject AccountService accountService
@* @implements IDisposable *@
@rendermode InteractiveServer


<PageTitle>Account</PageTitle>

@* <p>
    Account details:<br />
    Name: @accountService.account?.First_Name<br />
    ID: @accountService.account?.Id<br />
    CID: @accountService.account?.Char_Id
</p> *@

@if (characters is null)
{
    <p><em>Loading...</em></p>
}
else if (accountService.account is null) // Added null conditional operator to prevent null reference
{
    <h2>Select your Character</h2>
    <div class="character-flex">
        @foreach (var character in characters)
        {
            <button class="character-selector" @onclick="(() => login(character.user_id))">
                @* <button class="character-selector" @onclick="@(() => accountService.SetAccount(_account_db, _db, character.user_id))"> *@

                <img src="@character.img" />
                <p>@character.first_name</p>
            </button>
        }
    </div>
}
else
{
    <div class="current-character d-flex flex-column flex-wrap justify-content-center">
        @if (altCharacter is null)
        {
            <h2>Current Character</h2>
            <div class="character-box">
                <Character model=@accountService.character></Character>
            </div>
        }
        else
        {
            <h2>Change Active Character?</h2>
            <div class="m-auto">
                <button type="button" class="button btn-green"
                        @onclick="(() => updateCharacter(altCharacter))">
                    CONFIRM
                </button>
                <button type="button" class="button btn-red"
                        @onclick=@clearSelection>
                    CANCEL
                </button>
            </div>
            <div class="character-box">
                <Character model=@altCharacter></Character>
            </div>
        }
        <h2>Other Characters</h2>
        @if (MyCharacters is not null && accountService.IsLoggedIn())
        {
            @foreach (var character in MyCharacters)
            {
                @if (character.user_id == accountService.account?.Id && character.id != accountService.character.id)
                {
                    <button class="character-selector" @onclick="(() => selectCharacter(character))">
                        <img src="@character.img" />
                        <p>@character.first_name</p>
                    </button>
                }
            }
        }
    </div>
}


@code {
    private List<CharacterModel>? characters;
    private List<CharacterModel>? MyCharacters;
    public AccountModel? loginAccount { get; set; } = null;
    public CharacterModel? loginCharacter { get; set; } = null;
    public CharacterModel? altCharacter { get; set; }
    public string parent_dir = "..";

    protected override async Task OnInitializedAsync()
    {
        characters = await _db.getActiveCharacters();
        if (accountService.IsLoggedIn())
            MyCharacters = await _db.getMyCharacters(accountService.account.Id);
    }

    protected override void OnInitialized()
    {
        accountService.AccountChanged += StateHasChanged;
    }

    public void Dispose()
    {
        accountService.AccountChanged -= StateHasChanged;
    }

    public async Task login(int? user_id)
    {
        accountService.account = await accountService.SetAccount(_account_db, _db, user_id);
        MyCharacters = await _db.getMyCharacters(user_id);
    }

    private void selectCharacter(CharacterModel character)
    {
        altCharacter = character;
    }

    private void clearSelection()
    {
        altCharacter = null;
    }

    private async Task updateCharacter(CharacterModel character)
    {
        accountService.character = character;
        await accountService.UpdateActiveCharacter(_account_db, character.id, character.user_id);
        clearSelection();
        //trigger navbar state change maybe?
    }
}
