@page "/encyclopedia"
@attribute [StreamRendering]
@rendermode InteractiveServer
@inject ICharacterData _character_db
@inject ICampaignData _campaign_db
@inject IGuildData _guild_db

<PageTitle>Encyclopedia</PageTitle>

@* <h3>Add a character</h3> *@

@* <EditForm Model="@new_character">
    <input name="@new_character.first_name" />
    <button type="submit"></button>
</EditForm> *@

<h4></h4>

@if (filter.FiltersEnabled)
{
    <div class="filter-menu">
        @* <div>
            @filter.CategoryFilter
            @filter.CampaignFilter
            @filter.GroupFilter
        </div> *@
        @* <button class="toolbtn"><i class="bi bi-funnel"></i></button> *@
        <div class="filter-item">
            <p>Category: </p><select @onchange="@filter.SetCategoryFilter">
                <option value="@FilterService.Categories.Character">Character</option>
                @* <option value="@FilterService.Categories.Location">Location</option> *@
                <option value="@FilterService.Categories.Guild">Guild</option>
                @* <option value="@FilterService.Categories.Event">Event</option> *@
                @* <option value="@FilterService.Categories.Other">Other</option> *@
            </select>
        </div>
        <div class="filter-item">
            <p>Campaign: </p><select class="campaign-selector" @onchange="@filter.SetCampaignFilter">
                <option value="" selected disabled hidden>All Campaigns</option>
                @if (campaigns != null)
                    @foreach (var campaign in campaigns)
                    {
                        <option value="@campaign.Id">@campaign.Name</option>
                    }
            </select>
        </div>
        @* <div class="filter-item">
            <p>Group By: </p><select @onchange="@filter.SetGroupFilter">
                <option value="@FilterService.Groups.Name">Name</option>
                <option value="@FilterService.Groups.Color">Color</option>
                <option value="@FilterService.Groups.Guild">Guild</option>
                <option value="@FilterService.Groups.Class">Class</option>
                <option value="@FilterService.Groups.Plane">Plane</option>
            </select>
        </div> *@
        @* <div class="filter-item">
        <p>Order By: </p><select>
            <option value="0">Ascending</option>
            <option value="1">Descending</option>
            <option value="2">Pick Values</option>
        </select>
    </div> *@
        @* <button class="toolbtn" @onclick="@asc_desc_toggle">
            <i class="@asc_desc_button"></i>
        </button> *@
    </div>

}
<div id="dict-grid">

    @if ((characters is null) || (guilds is null))
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        @if (!filter.FiltersEnabled || filter.CategoryFilter == FilterService.Categories.Character)
            @foreach (var character in characters)
            {
                @if (filter.CampaignFilter == "0000" || filter.CampaignFilter == character.campaign_id.ToString())
                {
                    <button class="entry">
                        <img src=@character.img width="150" height="150">
                        <div class="entryData">
                            <h2>@character.first_name @character.last_name</h2>
                            @if (character.tags is not null) foreach (string tag in ParseTags(character.tags))
                                {
                                    <div class="tag" data=@tag><p>@tag</p></div>
                                }
                        </div>
                        <div class="panel">
                            <p>@character.description</p>
                        </div>
                    </button>
                }

            }
        @if (!filter.FiltersEnabled || filter.CategoryFilter == FilterService.Categories.Guild)
            @foreach (var guild in guilds)
            {
                @if (filter.CampaignFilter == "0000" || filter.CampaignFilter == guild.Campaign_Id.ToString())
                {
                    <button class="entry">
                        <img src=@guild.Img width="150" height="150">
                        <div class="entryData">
                            <h2>@guild.Name</h2>
                            @if (guild.Tags is not null) foreach (string tag in ParseTags(guild.Tags))
                                {
                                    <div class="tag" data=@tag><p>@tag</p></div>
                                }
                        </div>
                        <div class="panel">
                            <p>@guild.Description</p>
                        </div>
                    </button>
                }
            }
        <div class="tooltray">
            <button class="toolbtn exit_panel_btn">🗙</button>
            <button class="toolbtn">▲</button>
            <button class="toolbtn">▼</button>
            <button class="toolbtn">+</button>
            <button class="@filter_button_class" @onclick="@toggle_filter"><i class="bi bi-funnel"></i></button>
        </div>


    }


</div>





@code {
    public FilterService filter = new();
    public string filter_button_class = "toolbtn";
    private List<CampaignModel>? campaigns;
    private List<CharacterModel>? characters;
    private List<GuildModel>? guilds;
    private CharacterModel? new_character { get; set; } = new();
    public string asc = "bi bi-sort-down";
    public string desc = "bi bi-sort-up-alt";
    public string asc_desc_button = "bi bi-sort-down";



    protected override async Task OnInitializedAsync()
    {
        characters = await _character_db.getCharacters();
        guilds = await _guild_db.getGuilds();
        campaigns = await _campaign_db.getCampaigns();
    }

    private List<string> ParseTags(string tags)
    {
        return tags.TrimEnd().Split(',').ToList();
    }

    public async Task asc_desc_toggle()
    {
        if (asc_desc_button.Equals(asc))
        {
            asc_desc_button = desc;
        }
        else if (asc_desc_button.Equals(desc))
        {
            asc_desc_button = asc;
        }
        // Notify that state has changed
        StateHasChanged();
        await Task.CompletedTask;
    }

    public async Task toggle_filter()
    {
        if (filter.Toggle())
        {
            filter_button_class = "toolbtn toolbtn-on";
        }
        else
        {
            filter_button_class = "toolbtn";
        }
        await Task.CompletedTask;
    }
}


@* @code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(500);

        var startDate = DateOnly.FromDateTime(DateTime.Now);
        var summaries = new[] { "Freezing", "Bracing", "Chilly", "Cool", "Mild", "Warm", "Balmy", "Hot", "Sweltering", "Scorching" };
        forecasts = Enumerable.Range(1, 5).Select(index => new WeatherForecast
        {
            Date = startDate.AddDays(index),
            TemperatureC = Random.Shared.Next(-20, 55),
            Summary = summaries[Random.Shared.Next(summaries.Length)]
        }).ToArray();
    }

    private class WeatherForecast
    {
        public DateOnly Date { get; set; }
        public int TemperatureC { get; set; }
        public string? Summary { get; set; }
        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
 *@