@page "/encyclopedia"
@using System.Reflection
@attribute [StreamRendering]
@rendermode InteractiveServer
@inject AccountService accountService
@inject NewCharacterService new_character
@inject ICharacterData _character_db
@inject ICampaignData _campaign_db
@inject IGuildData _guild_db

<PageTitle>Encyclopedia</PageTitle>
<!-- ==================== Tool Bar ==================== -->
<div class="tooltray">
    <button type="button" class="toolbtn exit_panel_btn">🗙</button>
    <button type="button" class="toolbtn">▲</button>
    <button type="button" class="toolbtn">▼</button>
    <button type="button" class="@new_c_button_class" @onclick="@(() => new_character.toggleMenu())">
        <i class="bi bi-file-earmark-plus-fill"></i>
    </button>
    <button type="button" class="@filter_button_class" @onclick="@toggle_filter">
        <i class="bi bi-funnel"></i>
    </button>
</div>

<!-- ================ Create Character ================ -->
@if (new_character != null && new_character.menu_open)
{
    <EditForm Model="@new_character.model"
              OnValidSubmit="@SubmitForm"
              Context="context">
        <div class="enc-menu newchar-menu">
            <div class="menu-item">
                <p>Player Id:</p>
                <InputNumber name="user_id" @bind-Value=@new_character.model.user_id />
                <ValidationMessage For="@(() => new_character.model.user_id)" />
            </div>
            <div class="menu-item">
                <p>First Name:</p><InputText name="first_name" @bind-Value="@new_character.model.first_name" />
            </div>
            <div class="menu-item">
                <p>Last Name:</p><InputText name="last_name" @bind-Value="@new_character.model.last_name" />
            </div>
            <div class="menu-item">
                <p>Ancestry:</p><InputText name="ancestry" @bind-Value="@new_character.model.ancestry" />
            </div>
            <div class="menu-item">
                <p>Class:</p><select @bind="@new_character.model.c_class">
                    <option value="" selected disabled hidden></option>
                    @foreach (FilterService.Classes c_class in Enum.GetValues(typeof(FilterService.Classes)))
                    {
                        <option value="@c_class.ToString()">@c_class.ToString()</option>
                    }
                </select>
            </div>
            <div class="menu-item">
                <p>Campaign: </p><select @bind="@new_character.model.campaign_id" class="campaign-selector">
                    <option value="" selected disabled hidden></option>
                    @if (encyclopedia.campaigns != null)
                        @foreach (var campaign in encyclopedia.campaigns)
                        {
                            <option value="@campaign.Id">@campaign.Name</option>
                        }
                </select>
            </div>
            <div class="menu-item">
                <p></p>
            </div>
            <div class="menu-item">
                <p>Photo:</p>
                <button type="button" class="@photo_button_class" @onclick="() => toggleExtra(photo_button)">
                    @if (new_character.model.img == null)
                    {
                        <i class="bi bi-file-earmark-image-fill"></i>
                    }
                    else
                    {
                        <img src="@new_character.model.img" />
                    }
                </button>
            </div>
            <div class="menu-item">
                <p>Info:</p>
                <button type="button" class="@info_button_class" @onclick="() => toggleExtra(info_button)"><i class="bi bi-file-earmark-text-fill"></i></button>
            </div>
            <div class="menu-item">
                <p>Stats:</p>
                <button type="button" class="@stats_button_class" @onclick="() => toggleExtra(stats_button)"><i class="bi bi-file-earmark-ruled-fill"></i></button>
            </div>
            <div class="menu-item">
                <p>Done!</p>
                @if (@new_character.canSubmit())
                {
                    <button type="submit" class="toolbtn"><i class="bi bi-check-circle-fill"></i></button>
                }
                else
                {
                    <button type="submit" disabled class="toolbtn"><i class="bi bi-check-circle-fill"></i></button>
                }
            </div>
            <!-- ==================== Photo ==================== -->
            @if (new_character.photo_menu_open)
            {
                <div class="menu-item menu-tray hide-button-border">
                    <p class="flex-full">Select Token:</p>
                    @if (new_character.model.campaign_id == null)
                    {
                        <p class="flex-full" style="color: orangered; font-weight: bold;">SELECT A CAMPAIGN</p>
                    }
                    @foreach (string token in Directory.GetFiles(String.Concat("./wwwroot/img/pc/", new_character.model.campaign_id, "/")))
                    {
                        <button type="button" class="token-option" @onclick="() => new_character.setImg(String.Concat(parent_dir, token[9..]))">
                            <img src=@String.Concat(parent_dir, token[9..]) />

                        </button>
                    }
                </div>
            }
            <!-- ==================== Info ==================== -->
            @if (new_character.info_menu_open)
            {
                <div class="menu-item menu-tray">
                    <div class="menu-item menu-tray flex-45">
                        <p class="flex-full">Type Description:</p>
                        <InputTextArea class="textarea" @bind-Value="@new_character.model.description"></InputTextArea>
                    </div>
                    <div class="menu-item menu-tray flex-45">
                        <p class="flex-full">Select Tags:</p>
                        <div class="menu-item menu-tray flex-full tag-tray">
                            @if (new_character.model.tags is not null)
                            {
                                <TagTray Tags=@new_character.model.tags></TagTray>
                            }
                        </div>
                        <div class="menu-item menu-tray flex-full hide-button-border">
                            @foreach (string color in Directory.GetFiles("./wwwroot/img/color/"))
                            {
                                @if (color.EndsWith(".svg"))
                                {
                                <button type="button" class="tag token-option" data=@color[20..^4]
                                        @onclick="() => new_character.toggleTag(color[20..^4])">
                                    <img src="@String.Concat(parent_dir, color[9..])" />
                                </button>
                            }
                            }
                        </div>
                        <div class="menu-item menu-tray flex-full hide-button-border">
                            @foreach (string guild in Directory.GetFiles("./wwwroot/img/guild/"))
                            {
                                <button type="button" class="toolbtn token-option" @onclick="() => new_character.toggleTag(guild[20..^10])">
                                    <img src="@String.Concat(parent_dir, guild[9..])" />
                                </button>

                            }

                        </div>
                    </div>
                </div>
            }
            <!-- ==================== Stats ==================== -->
            @if (new_character.stats_menu_open)
            {
                <div class="menu-item menu-tray flex-zero" style="padding: 0 10px;">
                    <div>
                        <p>AC</p>
                        <InputNumber name="armor_class" @bind-Value=@new_character.model.armor_class class="input-small" />
                        @* <ValidationMessage For="@(() => new_character.model.armor_class)" /> *@
                    </div>
                    <div>
                        <p>Max HP</p>
                        <InputNumber name="max_hp" @bind-Value=@new_character.model.max_hp class="input-small" />
                        @* <ValidationMessage For="@(() => new_character.model.max_hp)" /> *@
                    </div>
                </div>
                <div class="menu-item menu-tray flex-zero" style="opacity: 0.5;">
                    <div class="menu-item menu-tray flex-zero">
                        <div>
                            <p>STR</p>
                            <InputNumber readonly name="STR" @bind-Value=@new_character.stats[0] class="input-small" />
                        </div>
                        <div>
                            <p>DEX</p>
                            <InputNumber readonly name="DEX" @bind-Value=@new_character.stats[1] class="input-small" />
                        </div>
                        <div>
                            <p>CON</p>
                            <InputNumber readonly name="CON" @bind-Value=@new_character.stats[2] class="input-small" />
                        </div>
                    </div>
                    <div class="menu-item menu-tray flex-zero">
                        <div>
                            <p>INT</p>
                            <InputNumber readonly name="INT" @bind-Value=@new_character.stats[3] class="input-small" />
                        </div>
                        <div>
                            <p>WIS</p>
                            <InputNumber readonly name="WIS" @bind-Value=@new_character.stats[4] class="input-small" />
                        </div>
                        <div>
                            <p>CHA</p>
                            <InputNumber readonly name="CHA" @bind-Value=@new_character.stats[5] class="input-small" />
                        </div>
                    </div>


                </div>
            }
        </div>
    </EditForm>
}


<!-- ===================== Filter ===================== -->
@if (filter.FiltersEnabled)
{
    <div class="enc-menu filter-menu">
        @* <div>
            @filter.CategoryFilter
            @filter.CampaignFilter
            @filter.GroupFilter
        </div> *@
        <button type="button" class="toolbtn" @onclick=@filter.ResetAllFilters>
            <i class="bi bi-arrow-counterclockwise"></i>
        </button>
        <div class="menu-item">
            <p>Category: </p>
            <select class=""
                    value="@filter.CategoryFilter"
                    @onchange=@filter.SetCategoryFilter>
                <option value="@FilterService.Categories.Character">Character</option>
                @* <option value="@FilterService.Categories.Location">Location</option> *@
                <option value="@FilterService.Categories.Guild">Guild</option>
                @* <option value="@FilterService.Categories.Event">Event</option> *@
                @* <option value="@FilterService.Categories.Other">Other</option> *@
            </select>
        </div>
        <div class="menu-item">
            <p>Campaign: </p>
            <select class="campaign-selector"
                    value="@filter.CampaignFilter"
                    @onchange="@filter.SetCampaignFilter">
                <option value="0000" selected disabled hidden>All Campaigns</option>
                @if (encyclopedia.campaigns != null)
                    @foreach (var campaign in encyclopedia.campaigns)
                    {
                        <option value="@campaign.Id">@campaign.Name</option>
                    }
            </select>
        </div>
        <div class="menu-item">
            <p>Group By: </p>
            <select class=""
                    value="@filter.GroupFilter"
                    @onchange="@filter.SetGroupFilter">
                <option value="@FilterService.Groups.Name">Name</option>
                <option value="@FilterService.Groups.Color">Color</option>
                @if (filter.CategoryFilter != FilterService.Categories.Guild)
                {
                <option value="@FilterService.Groups.Guild">Guild</option>
                }
                <option value="@FilterService.Groups.Class">Class</option>
                <option value="@FilterService.Groups.Plane">Plane</option>
            </select>
        </div>
        @* <div class="menu-item">
        <p>Order By: </p><select>
            <option value="0">Ascending</option>
            <option value="1">Descending</option>
            <option value="2">Pick Values</option>
        </select>
    </div> *@
        <button class="toolbtn" @onclick="@asc_desc_toggle">
            <i class="@asc_desc_button"></i>
        </button>
    </div>
}


<!-- ===================== Popups ===================== -->
<Popup @ref=@popup_display />

<!-- ================== Encyclopedia ================== -->
<div id="dict-grid">

    @if (encyclopedia is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        @foreach (var entry in encyclopedia.entries)
        {
            <!-- ==================== Characters ==================== -->
            @if (entry.Value == EncyclopediaService.Source.Character)
            {
                <button type="button" class="entry"
                        @onclick="() => popup_display.ShowCharacter(encyclopedia.characters[entry.Key])">
                    @if (FileExists(encyclopedia.characters[entry.Key].img))
                    {
                        <img src=@encyclopedia.characters[entry.Key].img width="150" height="150">
                    }
                    else
                    {
                        <img src="../img/icons/q_mark_token.png"
                             longdesc=@MissingImg(encyclopedia.characters[entry.Key].img) />
                    }
                    <div class="entryData">
                        <h2>@encyclopedia.characters[entry.Key].first_name @encyclopedia.characters[entry.Key].last_name</h2>
                        @if (encyclopedia.characters[entry.Key].tags is not null)
                        {
                            <TagTray Tags=@encyclopedia.characters[entry.Key].tags></TagTray>
                        }
                    </div>
                </button>
            }

            <!-- ==================== Guilds ==================== -->
            @if (entry.Value == EncyclopediaService.Source.Guild && filter.CategoryFilter == FilterService.Categories.Guild)
            {
                <button type="button" class="entry"
                        @onclick="() => popup_display.ShowGuild(encyclopedia.guilds[entry.Key])">
                    <img src=@encyclopedia.guilds[entry.Key].Img width="150" height="150">
                    <div class="entryData">
                        <h2>@encyclopedia.guilds[entry.Key].Name</h2>
                        @if (encyclopedia.guilds[entry.Key].Tags is not null)
                        {
                            <TagTray Tags=@encyclopedia.guilds[entry.Key].Tags></TagTray>
                        }
                    </div>
                </button>
            }
            else if (entry.Value == EncyclopediaService.Source.Guild && filter.CategoryFilter != FilterService.Categories.Guild)
            {
                <div class="entry entry-header">
                    <TagTray Tags="@encyclopedia.guilds[entry.Key].Tags"></TagTray>
                </div>
        }

            <!-- ==================== Colors ==================== -->
            @if (entry.Value == EncyclopediaService.Source.Color)
            {
                <div class="entry entry-header">
                    <TagTray Tags="@encyclopedia.colors[entry.Key].ToString()"></TagTray>
                </div>
            }
            <!-- ==================== Campaign ==================== -->
            @if (entry.Value == EncyclopediaService.Source.Campaign)
            {
                <div class="entry entry-header">
                    <TagTray Tags="@encyclopedia.campaigns[entry.Key].ToString()"></TagTray>
                </div>
    }
        }
    }
</div>

@code {
    public EditContext? context { get; set; }
    public FilterService filter = new();
    private EncyclopediaService? encyclopedia { get; set; } = new();
    // public NewCharacterService new_character { get; set; } = new NewCharacterService();
    private Popup? popup_display;
    public string parent_dir = "..";
    public string asc = "bi bi-sort-down";
    public string desc = "bi bi-sort-up-alt";
    public string asc_desc_button = "bi bi-sort-down";
    public string filter_button_class = "toolbtn";
    public string new_c_button_class = "toolbtn";
    public string photo_button = "photo";
    public string photo_button_class = "toolbtn";
    public string info_button = "info";
    public string info_button_class = "toolbtn";
    public string stats_button = "stats";
    public string stats_button_class = "toolbtn";
    public string toolbtn_off = "toolbtn";
    public string toolbtn_on = "toolbtn toolbtn-on";



    protected override async Task OnInitializedAsync()
    {
        while (encyclopedia == null || new_character == null)
        {
            await Task.Delay(50);
        }
        await encyclopedia.LoadEncyclopedia(_campaign_db);
        await encyclopedia.LoadEncyclopedia(_character_db);
        await encyclopedia.LoadEncyclopedia(_guild_db);

        if (accountService.IsLoggedIn())
            new_character.model.user_id = accountService.account.Id;
        encyclopedia.SortEncyclopedia(filter);
        filter.FiltersChanged += () => Handle_FiltersChanged();
        new_character.OnChange += () => Handle_OnChange();
        /* maybe add this? */
        // new_character.OnCharacterCreated += async () =>
        // {
        //     await encyclopedia.LoadEncyclopedia(_character_db);
        //     encyclopedia.SortEncyclopedia(filter);
        //     StateHasChanged();
        // }
    }

    public void Handle_FiltersChanged()
    {
        encyclopedia?.SortEncyclopedia(filter);
        StateHasChanged();
    }

    public void Handle_OnChange()
    {
        toggle_new_c().Wait();
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        filter.FiltersChanged -= () => Handle_FiltersChanged();
        new_character.OnChange -= () => Handle_OnChange();
    }

    private async Task SubmitForm()
    {
        if (new_character.canSubmit())
            await new_character.SubmitCharacter(_character_db);
        else
        // Handle invalid submission (e.g., show error message)
        { }
        await Task.CompletedTask;
    }

    public async Task asc_desc_toggle()
    {
        if (asc_desc_button.Equals(asc))
        {
            asc_desc_button = desc;
        }
        else if (asc_desc_button.Equals(desc))
        {
            asc_desc_button = asc;
        }
        filter.Toggle_Asc_Desc();
        StateHasChanged();
        await Task.CompletedTask;
    }

    public async Task toggle_filter()
    {
        if (filter.Toggle())
        {
            filter_button_class = toolbtn_on;
        }
        else
        {
            filter_button_class = toolbtn_off;
        }
        await Task.CompletedTask;
    }

    public async Task toggle_new_c()
    {
        // new_character.toggleMenu();
        if (new_character.menu_open)
        {
            new_c_button_class = toolbtn_on;
        }
        else
        {
            new_c_button_class = toolbtn_off;
        }
        await Task.CompletedTask;
    }

    public async Task toggleExtra(string button)
    {
        photo_button_class = toolbtn_off;
        info_button_class = toolbtn_off;
        stats_button_class = toolbtn_off;
        new_character.toggleExtra(button);
        switch (button)
        {
            case "photo":
                if (new_character.photo_menu_open) photo_button_class = toolbtn_on;
                break;
            case "info":
                if (new_character.info_menu_open) info_button_class = toolbtn_on;
                break;
            case "stats":
                if (new_character.stats_menu_open) stats_button_class = toolbtn_on;
                break;
        }
        StateHasChanged();
        await Task.CompletedTask;
    }

    private bool FileExists(string path)
    {
        if (path == null) return false;
        if (File.Exists(String.Concat("../campaign_hub/wwwroot/", path[2..]))) return true;
        return false;
    }

    private string MissingImg(string path)
    {
        return "Missing Image (" + path + ")";
    }

}


@* @code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(500);

        var startDate = DateOnly.FromDateTime(DateTime.Now);
        var summaries = new[] { "Freezing", "Bracing", "Chilly", "Cool", "Mild", "Warm", "Balmy", "Hot", "Sweltering", "Scorching" };
        forecasts = Enumerable.Range(1, 5).Select(index => new WeatherForecast
        {
            Date = startDate.AddDays(index),
            TemperatureC = Random.Shared.Next(-20, 55),
            Summary = summaries[Random.Shared.Next(summaries.Length)]
        }).ToArray();
    }

    private class WeatherForecast
    {
        public DateOnly Date { get; set; }
        public int TemperatureC { get; set; }
        public string? Summary { get; set; }
        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
 *@